body{
    margin: 0;
    background: #EDEDED;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;   
}

/*-------------------------------------Navigation-----------------------------*/

.nav-container{
    padding: 0 3%;
    margin: 0 auto;
    
}

header {
    background: #002138;
    padding: 2%; 
}

.nav-container p{
    color: #EDEDED;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    padding-top: 30px;
    padding-left: 15px;
    margin: 0;
}
.logo {
    float: left;
}

nav {
    float: right;  
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 50px;
    padding-top: 30px;
}

nav a{
    color: #EDEDED;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700; 
}

a:hover{
    text-decoration: underline 3px;
}

/*-----------------------------------Dividing Line----------------------------*/

.light-blue{
    height: 25px;
    background: #93B8D3;
}

/*-------------------------------index.html Content---------------------------*/

.main-title{
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 1%;
}
/*.logo1 {
    float: left;
}
*/
.title {
    margin: auto;
    text-align: center;
  
}

.title h1 {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 160px;
    letter-spacing: 32px;
    color: #306E9A

}
.title h2{
    font-size: 96px;
    font-weight: 400;
    margin-top: -20%;
    letter-spacing:30px;
    color: #306E9A;
}

.title p{
    font-size: 18px;
    margin-top: -10%;
}

.my-work h3{
    font-family:  'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: #306E9A;
}


.my-work{
   margin: 2%;
   text-align: center;

}

.my-work img{
    padding: 2%;
}

/*------------------------------my-work.html content--------------------------*/

.work-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: 5% 20%;
    padding: 15px;
    /*background-color: green;*/
}

.work-container  div {

    padding: 10% 0;
    text-align: left;
    /*background-color: yellow*/
}

.work-container h1 {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 10px;
    color:#306E9A;  
}

.work-container h2 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color:#002138;
}

.work-container p{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 10px;
    color:#002138;
}

.work-container img{
    size: 400px;
}
.project-info{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;  
}

.project{
    display: flex;
    justify-content: center;
    align-content: center;  
}

/*-------------------------------about.html content---------------------------*/

.about-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 10px 50px; 
    grid-template-areas: 
      "bk-pic about-info about-info"
      "bk-pic my-skills my-skills";
    margin: 5% 15%;
}

  .bk-pic {
      grid-area: bk-pic;
}

  .about-info {
      grid-area: about-info;
      
}

.about-info h1 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #306E9A;
}

.about-info h2 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #002138;
}
  .my-skills {
    display: grid; 
    grid-template-columns: 1.5fr 0.5fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "skills programs"; 
    grid-area: my-skills; 
}

  .skills {
      grid-area: skills;  
      color: #002138;
}

  .programs {
      grid-area: programs;
      color: #002138;
}
  .skill-list{
      columns: 2;
      color: #002138;
  }

  .program-list{
    color: #002138;
  }
  .bk-pic button{
    background-color: #306E9A;
    color: #EDEDED;
    padding: 20px 40px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-left: 10%;
    border-radius: 16px;
    box-shadow: 8px 8px 16px rgba(0, 33, 56, .5)
    

  }

/*------------------------------------Footer----------------------------------*/

.footer{
    width: 100%;
    background: #002138;
    color: #EDEDED;
    padding: 15px 15px;
    height: 50px;
}

.footer a{
    float: left;
    margin-left: 10px;
}

.copyright{
    float: right;
    padding-right: 5%;
}

/*----------------------------------Media Queries-----------------------------*/

@media only screen and (max-width: 600){
    .about-container{
        grid-template-areas: 
        "bk-pic"
        "about-info"
        "my-skills"
    }
}

@media only screen and (max-width: 600) {
    .work-container{
    display: grid;
    grid-template-columns: 1fr;
    
}
}